.Heder {
  color: #4a4a4a;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
}
.Main {
  display: grid;

  grid-template-areas: 'p f';

  grid-template-columns: 3fr 4fr;
  grid-gap: 8px;
}
