.item {
  display: subgrid;

  &:nth-child(odd) {
    margin-right: 6px;
  }
  &:nth-child(even) {
    margin-left: 6px;
  }
}

button {
  background: #ffffff;
  border: 1px solid #d1d2dd;
  box-sizing: border-box;
  border-radius: 6px;
  max-width: 179px;
  height: 80px;
  width: 100%;
  margin-bottom: 12px;

  img {
    width: 50%;
    height: 50%;
  }
}
.on {
  background: #ede5f0;
}
