.item {
  display: subgrid;
  width: 200px;
  height: 200px;
  margin: 5px;
}

button {
  background: #ffffff;
  border: 1px solid #d1d2dd;
  box-sizing: border-box;
  border-radius: 6px;

  img {
    width: 100%;
    height: 100%;
  }
}
