.item {
  display: subgrid;
  width: 200px;
  height: 200px;
  margin: 5px;
}

button {
  border: solid 2px rgb(143, 33, 216);
  border-radius: 1em 5%;
  width: 200px;
  height: 200px;
  margin: 5px;
}

img {
  width: 100%;
  height: 100%;
}
