.list {
  grid-area: p;
}

.title {
  color: #867299;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
}

.titleElements {
  display: grid;
  grid-column-gap: 2px;
  grid-template-columns: 1fr 1fr;
}
