.buttonW {
  background-color: blueviolet;
}

.selectInput {
  padding: 10px;
  border: 1px solid blueviolet;
  border-radius: 5px;
  position: relative;
  background: white;
  padding-bottom: 0;

  .selectOptions {
    display: flex;
    p {
      flex: 1;
      border-bottom: 0;
    }
    .arrow {
      padding-right: 5px;
    }
  }
}
.optionList {
  background: white;
  position: absolute;
  border: 1px solid blueviolet;
  top: 100%;
  left: 0;
  width: 100%;
  li {
    width: 100%;
    list-style: none;
  }
}
